/* تنسيقات العنوان */
h1 {
  color: #5D4037;
  background-color: #F4E1C1;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  font-size: 40px;
}

/* تنسيقات كل الفقرات */
p {
  font-size: 20px;
  line-height: 1.8;
  direction: rtl;       /* يجعل النص كله من اليمين لليسار */
  text-align: right;    /* محاذاة من اليمين */
}

/* تخصيص ألوان لكل فقرة إذا حابة */
p:nth-of-type(1) {
  color: #2E7D32;
}

p:nth-of-type(2) {
  color: #6D4C41;
}
/* تنسيق القائمة */
.hidden { display: none; }
.show { display: block; background: #f4f4f4; padding: 10px; }

/* تنسيق الزر والعنصر التفاعلي */
#btn-interact {
    background-color: #1b5e20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; /* حركة بسيطة عند الضغط */
}

#btn-interact:hover { background-color: #2e7d32; transform: scale(1.1); }

#hover-box {
    margin-top: 20px;
    padding: 15px;
    border: 2px dashed #1b5e20;
    text-align: center;
    cursor: pointer;
}
